.table {
  overflow-x: auto;
}

table,
th,
td {
  border: 2px solid #030303;
  border-collapse: collapse;
  margin: 25px auto;
}

.table tbody tr:nth-child(even) {
  background-color: #eee;
}
.table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  background-color: #030303;
  color: #f8f6f6;
}

th,
td {
  padding: 15px;
}

.error {
  margin-top: 10px;
  color: #ff7611;
}

@media screen and (min-width: 600px) {
  table {
    width: 70%;
  }
}
